.contact-details {
  > .card {
    padding: 1.2rem;
    color: $slate-300;
    width: fit-content;
    margin: 2.4rem auto 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

    min-width: 54.2rem;

    .contact-info {
      h3 {
        color: $emerald-400;
        font-size: 1.8rem;
        margin-block-end: 0.4rem;
      }

      p {
        font-size: 1.6rem;

        &.contact-email {
          margin-block-end: 0.2rem;
        }

        &.contact-phone {
          margin-block-end: 1.2rem;
        }
      }

      .button-container {
        button {
          width: 6.4rem;
        }
      }
    }

    img {
      margin-block-end: -1.2rem;
      grid-column: 2;
      grid-row: 1 / span 2;
    }
  }
}
