.home {
  .user-info {
    min-width: fit-content;
    max-width: 20rem;
    height: fit-content;
    padding: 0.8rem 1.2rem;
    margin-block-end: 1.2rem;

    font-size: 1.6rem;
    gap: 0.8rem;

    .user-name {
      color: $emerald-400;
      margin-block-end: 0.2rem;
    }
    .user-balance {
      color: $green-400;
    }
  }

  .coin {
    padding: 0.8rem 1.6rem;
    width: 24rem;
    margin-block-end: 1.2rem;

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    header {
      h2 {
        font-size: 2.8rem;
      }
      p {
        color: $slate-400;
        font-size: 1.6rem;
      }
      margin-block-end: 0.2rem;
    }
  }
}
